<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue.js/node_modules/vue/dist/vue.js"></script>
    <script>
        window.onload=function () {
            new Vue({
                el:"#app",
                data:{
                    n1:"",
                    n2:""
                },
                methods:{
                  add(){
                      return parseInt(this.n1)+parseInt(this.n2);
                  }
                },
                computed:{
                    result(){
                        return this.n1*this.n2;
                    }
                }
            })
        }
    </script>
</head>
<body>
<div id="app">
    <input type="text" v-model="n1">
    <input type="text" v-model="n2">
    <span>加法：{{add()}}</span>
    <span>乘法：{{result}}</span>
</div>
</body>
</html>